<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Вход:</h1>
    <%= form_tag '/login' do %>
    <div class="form-group">
      <label>Эл.почта:</label>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Пароль:</label>
      <%= password_field_tag :password, "", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag "войти", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
