<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Период <%#=  %></h1>
    <tabel>
      <th>
        <td>Никнейм</td>
        <td>Эл. почта</td>
        <td>Количество записей</td>
        <td>Количество комментариев</td>
      </th>
      <tr>
        <td><%= @user.nickname %></td>
        <td><%= @user.email %></td>
        <td><%#=  %></td>
        <td><%#=  %>l</td>
      </tr>
    </table>
  </body>
</html>
